<!doctype html>
<html lang="fr">
  <head>
    <title>TP Symfony</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  </head>
  <body>
      
    <ul class="nav justify-content-center m-3">
      <li class="nav-item">
        <a class="nav-link" href="/accueil">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reglement">Règlement intérieur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ajouter</a>
      </li>
    </ul>

    
    <h1 class="text-center m-3"></h1>

  <div class="container text-justify">
      <p>Etiam non urna vitae metus lobortis varius ac non nisl. Nullam auctor mi non tempus commodo. Sed venenatis nibh in eleifend convallis. Donec in erat velit. Sed sodales eu sem vel viverra. Suspendisse potenti. Sed felis urna, tincidunt sit amet dui vitae, gravida malesuada velit. Nunc eget eros mauris. Phasellus et diam non sapien feugiat accumsan in a augue. In sed dapibus tortor. Fusce efficitur vestibulum risus, ut hendrerit dolor iaculis et. In aliquet metus eget ipsum condimentum laoreet. Curabitur nec porta lacus. Maecenas enim eros, aliquet eu lectus vitae, tempus ullamcorper lorem.</p>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

