<!doctype html>
<html lang="fr">
  <head>
    <title>TP Symfony</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  </head>
  <body>
      
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link" href="/accueil"><i class="bi bi-arrow-counterclockwise"></i> Retour</a>
        </li>
    </ul>


    
    <h1 class="text-center m-3">Règlement intérieur de l'établissement</h1>

  <div class="container text-justify">
     <div>
        <h2>Les principes fondamentaux</h2>
        <p>Suspendisse ac pretium quam. Sed eu imperdiet mi. Donec aliquet finibus erat vitae vulputate. Vestibulum eros eros, pharetra a velit at, dignissim tincidunt massa. Praesent accumsan, enim ut cursus elementum, ligula erat convallis nisi, quis tincidunt metus sem et felis. Ut tincidunt est eget posuere vestibulum. Morbi est quam, blandit eget fringilla ac, hendrerit et purus. Cras ut mauris malesuada, ultricies tellus non, commodo libero. Nunc molestie ut ligula eu vehicula. Aliquam pulvinar quam eget massa tempor, a commodo ex lacinia.</p>
        <p>Cras non mi posuere, elementum nulla sed, aliquet purus. Morbi eget turpis id leo congue fringilla. Aliquam id laoreet dolor. Nam sed sodales mauris. Donec placerat dignissim diam, feugiat faucibus sem commodo a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet lacinia augue. Sed eleifend lectus orci, at pulvinar diam pharetra id. Aenean accumsan ante dolor, et tempor dui consequat vel. Curabitur luctus mattis arcu nec interdum.</p>
     </div>

     <div>
        <h2>Les droits et obligations</h2>
        <p>Nam eu sem dapibus, varius arcu quis, mollis arcu. Nullam iaculis nisi et enim malesuada tincidunt. Proin scelerisque libero vitae bibendum rhoncus. Fusce blandit nunc in ex laoreet ultricies. Aenean et sagittis sapien, a malesuada libero. Morbi dignissim sapien nec enim imperdiet ornare. Quisque lacinia ex id nibh viverra, non fermentum erat elementum. Sed hendrerit, ex sit amet venenatis consectetur, lacus urna dapibus magna, ac scelerisque nunc dui in metus.</p>
        <p>Quisque a nibh eget odio ornare tempus vitae non nunc. Ut vulputate nunc at pellentesque placerat. Integer bibendum eros consectetur ipsum rutrum blandit. Phasellus malesuada, dui eu lacinia efficitur, tortor purus dapibus lorem, vitae commodo tellus nulla nec arcu. Aenean sagittis felis ut lobortis lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc at rhoncus augue. Sed tempus, erat sit amet ornare viverra, sem augue tincidunt mi, sed rhoncus tellus metus volutpat purus. Aliquam augue felis, cursus sit amet aliquet quis, volutpat ac lacus. Donec mollis est ipsum, nec suscipit felis tempus ut. Duis tincidunt vehicula lectus ut cursus. Sed a ultricies eros. Donec iaculis vitae justo nec ullamcorper. Suspendisse sodales massa vitae bibendum viverra. Sed placerat, mauris sit amet hendrerit accumsan, purus mi rhoncus tellus, eget vulputate tellus nulla eu ante. Cras tempor, odio ut gravida laoreet, enim justo imperdiet tortor, ut hendrerit lorem massa venenatis nibh.</p>
     </div>

     <div>
        <h2>Les règles de fonctionnement</h2>
        <p>Etiam non urna vitae metus lobortis varius ac non nisl. Nullam auctor mi non tempus commodo. Sed venenatis nibh in eleifend convallis. Donec in erat velit. Sed sodales eu sem vel viverra. Suspendisse potenti. Sed felis urna, tincidunt sit amet dui vitae, gravida malesuada velit. Nunc eget eros mauris. Phasellus et diam non sapien feugiat accumsan in a augue. In sed dapibus tortor. Fusce efficitur vestibulum risus, ut hendrerit dolor iaculis et. In aliquet metus eget ipsum condimentum laoreet. Curabitur nec porta lacus. Maecenas enim eros, aliquet eu lectus vitae, tempus ullamcorper lorem.</p>
        <p>Donec fermentum fringilla ultricies. Phasellus a eros nec ex imperdiet dignissim eu nec mauris. Vestibulum ipsum nulla, tempus et mattis at, gravida at risus. Pellentesque nec iaculis neque, eu hendrerit erat. Integer sapien tellus, ultrices sed eleifend viverra, efficitur eu neque. Nullam iaculis semper augue. Donec vulputate diam felis. Vestibulum scelerisque accumsan purus at posuere. Donec ac congue felis. Aliquam erat volutpat. Quisque condimentum augue non enim tincidunt aliquam. Praesent vitae mollis nisl.</p>
     </div>

     <div>
        <h2>Le rôle du directeur</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus erat eu urna commodo porttitor. Nunc facilisis vulputate erat, tincidunt facilisis odio efficitur nec. Duis massa risus, ullamcorper nec orci at, scelerisque congue orci. Ut imperdiet augue nec tincidunt cursus. In semper euismod lectus, at tempus arcu tristique sed. Nulla massa nibh, faucibus non ornare vitae, faucibus et ligula. Vestibulum efficitur urna vitae sem pretium lacinia. Donec pharetra auctor cursus. Aliquam tellus nibh, iaculis at pretium sit amet, imperdiet a urna. Quisque sit amet nisi in ante convallis lacinia. Aenean odio dui, rutrum quis interdum non, viverra id magna. Maecenas dictum sem in dui efficitur, eget ullamcorper dolor malesuada. Aliquam vel enim eu turpis fringilla viverra. Nullam varius eu dolor vel molestie.</p>
        <p>Aenean vel dolor interdum, pretium ipsum consectetur, mollis lectus. Nullam accumsan vulputate convallis. Suspendisse nulla turpis, elementum ut ligula ut, dapibus suscipit ex. Nulla cursus, elit vel sodales molestie, eros justo accumsan tortor, et pulvinar est nulla eget dui. Nunc elementum augue dui, sed eleifend ligula faucibus id. Donec vitae turpis a odio condimentum dictum in in nunc. Sed ullamcorper sodales massa, vitae volutpat metus commodo at. Donec ut elit suscipit, iaculis quam vel, iaculis turpis. Integer vel interdum mauris. Donec finibus feugiat orci, sed congue ligula interdum sed. Fusce bibendum risus ut libero blandit aliquet. Nulla elementum mi est, at mollis ante laoreet ac. Etiam finibus neque justo, nec sollicitudin enim vulputate in. Curabitur odio enim, ultrices et scelerisque at, dignissim a massa. In viverra accumsan turpis eu interdum. Integer sed sem at mi semper viverra eu quis diam.</p>
     </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

